
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-primary font-sans overflow-x-hidden antialiased;
  }
  
  /* Hide scrollbar for clean look */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
